p{
  grid-row: 1; grid-column: 2;
  margin-left: 30px; margin-top: auto; margin-bottom: auto; margin-right: 30px;
}

#title{
  margin-bottom: 50px;
}

#propertyImage{
  grid-row: 1; grid-column: 1;
  margin-top: 10px; margin-left: 10px;
}

#details{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 270px;
}