nav{
  width: 20%;
  float: left;
}

nav, #mainInfo, #contactInfo{
  height: 100%;
}

#logo{
  float: left;
}

#logoTitle{
  height: 90px;
  line-height: 90px;
  text-align: center;
  background-color: rgb(173, 173, 173);
}

#mainContent{
  height: 500px;
  clear: both;
}

#mainInfo{
  width: 65%;
}

#contactInfo{
  width: 30%;
  float: right;
}

#agentPic{
  width: 240px; height: 320px;
}