body{
  font-family: Verdana, sans-serif;
  background-color: rgb(230, 230, 230);
  width: 900px;
  margin-left: auto; margin-right: auto;
}

h4{
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.blockBack{
  background-color: rgb(173, 173, 173);
}

#title{
  height: 50px;
  line-height: 50px;
}

.backLink{
  text-align: center;
  margin-top: 30px;
}

.backLink a{
  display: block;
  width: 80px; height: 25px;
  margin-left: auto; margin-right: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 68, 68);
  padding-top: 4px;
}

.backLink a:link, .backLink a:visited{
  text-decoration: none;
}

.backLink a:hover{
  background-color: rgb(104, 104, 104);
}