ul{
  list-style-type: none;
  padding: 0;
}

ul li{
  margin-bottom: 15px;
}



.listItem p{
  grid-column: 2; grid-row: 1;
  margin-left: 20px; margin-top: auto; margin-bottom: auto;
}

.listItem{
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: 135px;
}

.listingIcon{
  margin-left: 7px; margin-top: 11px;
}